<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".WorldClockPlugin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldClock">

        <activity
            android:name=".ui.ConfigurationActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance" />

        <activity
            android:name=".ui.TimezoneOffsetRequirementActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance" />

        <activity
            android:name=".ui.TimezonePickerActivity"
            android:exported="false" />

        <provider
            android:name=".complications.WorldClockComplication"
            android:authorities="${applicationId}.complication.worldclock"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_COMPLICATIONS">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.COMPLICATION" />
            </intent-filter>
        </provider>

        <provider
            android:name=".targets.WorldClockTarget"
            android:authorities="${applicationId}.target.worldclock"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_TARGETS">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.TARGET" />
            </intent-filter>
        </provider>

        <provider
            android:name=".broadcasts.WorldClockBroadcastProvider"
            android:authorities="${applicationId}.broadcasts.worldclock"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_BROADCASTS">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.BROADCAST" />
            </intent-filter>
        </provider>

        <provider
            android:name=".requirements.TimezoneOffsetRequirement"
            android:authorities="${applicationId}.requirement.timezoneoffset"
            android:exported="true"
            android:permission="com.kieronquinn.app.smartspacer.permission.ACCESS_SMARTSPACER_REQUIREMENTS">
            <intent-filter>
                <action android:name="com.kieronquinn.app.smartspacer.REQUIREMENT" />
            </intent-filter>
        </provider>

        <receiver
            android:name=".broadcasts.TimezoneOffsetRequirementChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
